body {
  font-family: "微軟正黑體";
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.jkv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.jkv .item {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.img0 {
  height: 100vh;
  background-image: url(../img/carousel_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.img1 {
  background-image: url(../img/carousel_3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.img2 {
  background-image: url(../img/carousel_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.img3 {
  background-image: url(../img/carousel_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.img1.transformAnimate,
.img2.transformAnimate,
.img3.transformAnimate {
  animation: kvc1 1s 1;
}
@keyframes kvc1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jkv p {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(50vw - 35px);
  top: calc(50vh - 35px);
  background-image: url(../img/logo-w.png);
  background-size: contain;
  background-position: center top;
  text-align: center;
}
.jkv p span {
  color: #fff;
  margin-top: 115%;
  font-size: 14px;
  display: block;
  margin-left: 6px;
}
.jkv p span.fadeEnter {
  opacity: 0;
  transition: ease-in 0.5s;
}
.cursor {
  cursor: pointer;
}

.enter-intro {
  position: absolute;
  z-index: 100;
  width: 120px;
  height: 120px;
  left: calc(50vw - 60px);
  top: calc(50vh - 60px);
}

.enter-intro p {
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
}

.break {
  display: block;
}

/*nav*/
.space-nav {
  padding: 40px 0 0;
  text-align: justify;
}
.space-nav:after {
  width: 100%;
  content: "";
  display: inline-block;
}
.brand-logo,
.space-nav ul,
.space-nav li,
.ham-menu {
  display: inline-block;
  vertical-align: middle;
}
.brand-logo,
.ham-menu {
  width: 100px;
}
.brand-logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: 75px;
}
.ham-menu {
  text-align: right;
  margin: 0;
  opacity: 0.5;
}
.space-nav ul {
  width: calc(100% - 300px);
  text-align: center;
  padding: 0;
  margin: 0;
}
.space-nav li {
  min-width: 10%;
}
.space-nav li a {
  color: #000000;
  text-decoration: none;
  opacity: 0.5;
  padding: 20px;
}
.space-nav li a.active,
.space-nav li a:hover {
  opacity: 1;
}
.space-nav li a.active {
  font-weight: 700;
}
.area-title {
  text-align: justify;
  margin-top: 80px;
  border-bottom: solid 1px #bfbfbf;
}
.area-title::after {
  content: "";
  width: 100%;
  display: inline-block;
}
.area-title ul {
  display: inline-block;
  width: 45%;
}
.area-title ul li {
  display: inline-block;
}
.area-title ul li a {
  color: #000000;
  width: 30px;
  display: inline-block;
  text-align: center;
}
.social-media {
  text-align: right;
}
.social-media img {
  width: 20px;
  vertical-align: top;
}
.plus {
  margin: 0 40px 0 20px;
}
.area-title ul li i {
  font-size: 20px;
  margin: 0 5px;
}
.home-all {
  margin: 50px 0;
}
.straight-img .display-img {
  height: 750px;
  background-image: url(../img/Project_1_604x801.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.display-img {
  position: relative;
}
.narrative {
  position: absolute;
  top: 88%;
  left: 22px;
  width: 90%;
  color: #fff;
  font-family: "Prata", serif;
}
.narrative p {
  margin-bottom: 0;  
}
.narrative p.na-tetx{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.narrative p.na-title {
  font-size: 20px;
  /* margin-bottom: 10px; */
}
.col-md-6.straight-img{
  padding-right: 14px;
}
.col-md-6.fifty-img{
  padding-left: 0;
}
.fifty-img .narrative {
  top: 75%;
}
.fifty-img .display-img {
  height: 368px;
  background-repeat: no-repeat;
  background-size: cover;
}
.fifty-01 {
  background-image: url(../img/Project_2_656x363.jpg);
  background-position: center;
  background-size: cover;
}
.fifty-02 {
  background-image: url(../img/Project_3_656x427.jpg);
  background-position: center;
  background-size: cover;
}
.second {
  margin-top: 14px;
  display: block;
}
.full-img .narrative {
  top: 75%;
  left: 22px;
}
.full-01 {
  margin-top: 14px;
  height: 410px;
  background-image: url(../img/Project_4_511x475.jpg);
  background-position: center 95%;
  background-repeat: no-repeat;
  background-size: cover;  
}
.full-02 {
  margin-top: 14px;
  padding-left: 0;
  height:410px;
  background-image: url(../img/Project_5_749x475.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md-7.pl-0{
  padding-left: 0;
}
.footer {
  margin: 150px 0 50px;
  text-align: center;
}
.footer a{
  color: #808080;
}
.area-bread a {
  padding: 0 5px 5px;
  display: inline-block;
  position: relative;
}
.area-bread a.active {
  font-weight: 700;
}
.area-bread a .decoration-line {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background-color: #0000;
}
.area-bread a:hover .decoration-line {
  background-color: #000000;
  animation: easeLeft2 0.3s;
}
.hover-text {
  display: none;
}
.space-nav li {
  position: relative;
}
.space-nav li .decoration-line {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  left: calc(50% - 25px);
  top: 120%;
  background-color: #ffff;
}
.space-nav ul li:hover .hover-text {
  display: inline-block;
}
.space-nav ul li:hover .decoration-line {
  background-color: #000000;
  animation: easeLeft 0.5s;
}
.space-nav ul li:hover .default-text {
  display: none;
}
.social-media li a:hover {
  color: #c4c4c4;
  transition: ease-in 0.2s;
}
.social-media li a:hover img {
  opacity: 0.3;
  transition: ease-in 0.2s;
}
.display-img a {
  display: block;
  width: 98%;
}
.display-img .overlay-block {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.display-img:hover .overlay-block {
  background-color: rgba(0, 0, 0, 0.3);
  transition: ease-in 0.2s;
}
.pl-35{
  padding-left: 40px;
  padding-right: 0;
}
.project-detail-img img{
  width: 100%;
}
.project-detail-text{
  text-align: center;
}
.detail-title{
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Prata", serif;
}
.project-detail-text{
  margin: 60px 0;
}
.detail-text,.detail-zh-text{
  margin-bottom: 0;
  line-height: 36px;  
  font-family: 'Poppins', sans-serif;
}
.detail-text{
  font-size: 16px;
  color: #363636;
}
.detail-zh-text{
  font-size: 15px;
  color: #363636;
  width: 85%;
  margin: auto;
}
.detail-zh-text .font-en-adjust{
  font-size: 16px;
}
.pt-14{
  padding-top: 14px;
}
.pr-half{
  padding-right: 7px;
}
.pl-half{
  padding-left: 7px;
}
.row-80{
  width: 80%;
  margin: auto;
}
.contact-title{
  font-weight: 700;
  font-size: 20px;
}
.contact-text,.contact-form{
  font-family: 'Poppins', sans-serif;
}
.contact-text .en-text{
  color: #363636;
  width: 400px;
}
.about-img{
  position: relative;
}
.contact-wrapper .about-img img{
  object-position: center;
  height: 767px;
}
.about-right-logo{
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  top: calc(50% - 37px);
  left: calc(50% - 37px);
}
.input-title{
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  display: block;
}
.contact-wrapper input[type="text"]{
  display: block;
  border-top:none ;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px;
  opacity: 0.5;
  width: 60%;
}
.contact-wrapper input[type="text"]:focus{
  border-top:none ;
  border-left: none;
  border-right: none;
  outline-offset: 0px;
  outline: none;
  opacity: 1;
}
.input-text{
  margin: 50px 0;
}
.field {
  position: relative;
}
.field .form-control{
  width: 90%;  
}
/* .field label{
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 10;
} */
.input-text.form-group.field{
  margin-top: 70px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4;
  color: #6b6b6b;
}
.btn{
  border-radius: 0;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.btn:hover{
  background-color: #464646;
}
.light-text{
  color: #808080;
  font-size: 15px;
  line-height: 24px;
}
@keyframes easeLeft {
  0% {
    width: 0;
  }

  100% {
    width: 50px;
  }
}
@keyframes easeLeft2 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.about-img {
  min-height: 840px;
}
.about-img img {
  width: 100%;
  height: 767px;
  object-fit: cover;
  object-position:center;
}
.en-text {
  margin: 35px 0;
}
.about-text {
  position: relative;
  min-height: 767px;
  /* width: 85%; */
  width: 100%;
  color: #363636;
}
.botoom-text {
  position: absolute;
  bottom: 0;
}
.botoom-text p {
  margin-bottom: 0;
}
.text-justify{
  text-align: justify;
}
.ham-active ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
.ham-active ul li {
  display: block;
  margin-bottom: 20px;
  min-width: initial;
  font-size: 14px;
}
.ham-active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  top: 0;
  left: 0;
  font-size: 14px;
  align-items: center;
  display: none;
}
.ham-active .social-media {
  text-align: center;
  margin-top: 40px;
}
.ham-active .social-media a {
  color: #000000;
  margin: 0 5px;
}
.ham-active .social-media i {
  font-size: 20px;
}
.ham-active .space-nav {
  padding: 0;
}
.align-center {
  width: 100%;
}
.close-ham {
  position: absolute;
  left: 95%;
  top: 40px;
  cursor: pointer;
}
.close-ham i {
  font-size: 22px;
}
/*contact alert*/
.alert {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 0;
  display: none;
}
.textarea{
  width: 80%;
  margin-top: 30px;
}
/*project img object-fit*/
.h400 img{
  object-fit: cover;
  object-position: center;
}
.m-show{
  display: none;
}
.square img{
  height: 450px;
  object-fit: cover;
  object-position: bottom;
}
@media (min-width: 1500px) {
  .h400 img{
    height: 550px;
  }
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 83vw;
  }
}
@media (min-width: 1440px) {
  .full-01,.full-02{
    height: 500px;
  }
  .full-img .narrative {
    top: 83%;
  }
}
@media (max-width: 1500px) {
  .h400 img{
    height: 350px;
  }
}
@media (max-width: 1200px) {
  .about-img img{
    object-position: 15% center;
  }
}
@media (max-width: 991px) {
  .space-nav {
    padding-top: 20px;
  }
  .space-nav ul{
    display: none;    
  }
  .ham-active .space-nav ul{
    display: block;
  }
  .ham-menu{
    padding-right: 10px;
  }
  .ham-menu>i{
    font-size: 20px;
  }
  .close-ham{
    left: 90%;
  }
  .ham-active .social-media a{
    margin: 0 15px;
  }
  .narrative p.na-title{
    font-size: 22px;
  }
  .narrative p.na-tetx{
    font-size: 13px;
  }
  .detail-zh-text .break{
    display: none;
  }
  /*about*/
  .about-img img{
    height: 400px;
    object-position: right 17%;
  }
  .about-img{
    min-height: inherit;
  }
  .pl-35{
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-text{
    margin-top: 40px;
    min-height: inherit;
  }
  .botoom-text {
    position: inherit;
  }
  .botoom-text p{
    margin-top: 20px;
  }
  /*contact*/
  .contact-wrapper .about-img img{
    height: 700px;
  }
}
@media (max-width: 768px) {
  .brand-logo {
    height: 65px;
  }
  
.img0 {
  height: 100vh;
  background-image: url(../img/m-intro01.jpg);
}
.img1 {
  background-image: url(../img/m-intro02.jpg);
}
.img2 {
  background-image: url(../img/m-intro03.jpg);
}
.img3 {
  background-image: url(../img/m-intro01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.straight-img .display-img{
  background-image: url(../img/m_Project_1.jpg);
}
.fifty-01{
  background-image: url(../img/m_Project_2.jpg);
}
.fifty-02{
  background-image: url(../img/m_Project_3.jpg);
}
.full-01{
  background-image: url(../img/m_Project_4.jpg);
}
.full-02{
  background-image: url(../img/m_Project_5.jpg);
}
  /*project*/  
  .area-title ul{
    width: 100%;
  }
  .project-wrapper.area-title ul{
    width: 45%;
  }
  .area-title{
    margin-top: 20px;
  }
  .straight-img .display-img {
    height: 550px;
  }
  .narrative{
    top: 80%;
  }
  .narrative p.na-title,.detail-title{
    font-size: 22px;
  }
  .narrative p.na-tetx{
    font-size: 13px;
  }
  .detail-title{
    margin-bottom: 15px;
  }
  .fifty-img .display-img,.full-01,.full-02{
    height: 550px;
  }
  .fifty-img .fifty-01 .narrative{
    top: 83%;
  }
  .fifty-img .fifty-02 .narrative{
    top: 80%;
  } 
  .full-img .narrative {
    top: 83%;
  }
  .full-02.full-img .narrative{
    top: 77%;
  }
  .h400 img{
    height: initial;
    object-fit: contain;
  }
  .pl-half,.pr-half,.col-md-6.fifty-img,.full-02,.col-md-7.pl-0{
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .row-80{
    width: 100%;
  }
  .pt-14,.col-md-6.fifty-img{
    padding-top: calc(var(--bs-gutter-x) * 0.5);
  }  
  .detail-zh-text,.detail-text{
    width: 95%;
    margin: auto;
    font-size: 13px;    
  }
  .detail-zh-text{
    line-height: 30px;
  }
  .detail-text{
    line-height: 25px;
    margin-bottom: 8px;
  }
  /*about*/
  .about-text{
    width: 95%;
    margin: 0 auto 40px;
    font-size: 13px;
  }
  .footer {
    margin: 100px 0 50px;
  }
  /*contact*/
  .contact-wrapper{
    width: 95%;
    margin:50px auto 0;
  }
  .contact-wrapper input[type="text"],.textarea,.contact-text .en-text{
    width: 100%;
    border-radius: 0;
  }
  .inputBox{
    text-align: center;
    margin-bottom: 50px;
  }
  .inputBox .btn{
    width:100%
  }
  .m-show{
    display: block;
  }
  .contact-wrapper .about-img img{
    height: 400px;
  }
  .about-img{
    margin-bottom: 40px;
  }
  .m-show{
    display: block;
  }
  .m-hide{
    display: none;
  }
  .about-img img {
    object-position: right 38%;
    }
    .about-right-logo{
      height: 65px;
      width: 65px;
    }
}
